profiles {
    standard {
        process.executor = 'local'
        process.singularity.enabled = true
        process.singularity.cacheDir = '/home/keygen/weskit/singularity_cache'
        process.scratch = true
    }

    hpc {
        process.executor = 'slurm'  // Change to pbs, sge, or other if necessary
        process.queue = 'batch'
        process.singularity.enabled = true
    }
}

workDir = "/home/keygen/weskit/cromwell-executions"